.header {
    width: 100%;
    background-color: #000;
    height: 132px;
    position: fixed;
    z-index: 100;
}

.header-container {
    max-width: 1088px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}

.header__nav-list {
    height: 100%;
    justify-content: space-between;
    width: inherit;
}

.header__nav {
    margin-top: 75px;
    max-width: calc(100% - 200px);
    height: 57px;
}

.header__menu-button {
    display: none;
    width: 24px;
    height: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-top: 20px;
    margin-right: 20px;
}

.header__menu-button-line {
    height: 2px;
    width: 24px;
    background-color: #fff;
    margin-top: 39%;
}

.header__nav-item {
    margin-right: 28px;
}

.header__nav-item:last-of-type {
    margin-right: 0;
}

.header__nav-item_active {
    border-bottom: 4px solid #fff;
}

.header__logo-title {
    color: #fff;
}

.header__logo-container {
    margin-top: 60px;
}

.header__nav-item:hover {
    border-bottom: 4px solid hsla(0,0%,100%,.3)
}

@media screen and (min-width: 320px) and (max-width: 550px) {
    .header__nav {
        display: none;
    }

    .header {
        height: 73px;
    }

    .header__logo-container {
        margin-top: 10px;
    }

    .header__menu-button {
        display: block;
    }
}

@media screen and (min-width: 320px) and (max-width: 1053px) {
    .header__nav {
        height: 72px;
    }
}